@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: IBM Plex Mono,ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
 }

.text-medium {
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity));
}

.text-extra-dim {
  color: rgba(156,163,175,.8);
  margin-left: 12px;
}
